:host {
  display : block;
  font-family : helvetica;
  color : #777;
}

h1 {
  font-size : 40px;
  padding : 20px;
  border-bottom : solid 1px black;
  color : black;
}

h2 {
  color : white;
}

.main {
  width : 1000px;
  margin : auto;
}

.navigation {
  position : relative;
  &:before, &:after {
    position : absolute;
    background : inherit;
    content : '';
    top : 0;
    height : 100%;
    width : calc(50vw - 50%);
  }
  &:before {
    left : 100%;
  }
  &:after {
    right : 100%;
  }
}
