@import '../styles/variables';
:host {
  display : block;
  font-family : $font-family;
  color : $font-color;
}

h2 {
  color : white;
}

.main {
  width : 1000px;
  margin : auto;
}

.navigation {
  padding : ($base-width * 2) $base-width;
  background : darken($background-color, 20%);

  .navigation-links {
    display : flex;

    li {
      padding-right : $base-width;
      font-weight : bold;
      a {
        text-decoration : none;
        &:link,
        &:visited,
        &:hover,
        &:active{
          color : white;
        }
        &:hover {
          text-decoration : underline;
        }
      }
    }
  }
}


h1 {
  font-size : 40px;
  padding : 20px;
  background : darken($base-color, 20%);
  color : white;
  position : relative;
  &:before, &:after {
    position : absolute;
    background : inherit;
    content : '';
    top : 0;
    height : 100%;
    width : calc(50vw - 50%);
  }
  &:before {
    left : 100%;
  }
  &:after {
    right : 100%;
  }
}
