@import "../../styles/variables";
:host {
    background : $background-color;
}

.result {
    padding : 20px;
    border-bottom : solid 4px darken($background-color, 10%);
}

img {
    float : left;
    margin-right : 10px;
    height : 120px;
}

h2 {
    font-size : 18px;
    margin-bottom : 12px;
    color : $font-color;
}

