.result img {
    width : 100px;
}
.results-panel-backing {
    background : white;
}


form {
  padding : 10px;
  background : #eee;

}

fieldset {
    margin-bottom : 10px;
    background : #ccc;
    padding : 10px;
}

label  {
    display : inline-block;
    margin-bottom : 5px;
}
input {
    border : none;
}

.meta {
    background : #444;
    color : #eee;
    padding : 10px;
}