@import "../../styles/variables";

.result img {
    width : 100px;
}
.results-panel-backing {
    background : white;
}

form {
  padding : 10px;
  background : darken($base-color, 2%);
}

fieldset {
    margin-bottom : 10px;
    background : darken($base-color, 14%);
    padding : 10px;
}

label  {
    display : inline-block;
    margin-bottom : 5px;
}
input {
    border : none;
}

.meta {
    background : darken($base-color, 12%);
    color : $font-color;
    padding : 10px;
}